<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CoinMapper">
    
    <resultMap type="Coin" id="CoinResult">
        <result property="id"    column="id"    />
        <result property="address"    column="address"    />
        <result property="coinName"    column="coin_name"    />
        <result property="coinDecimals"    column="coin_decimals"    />
        <result property="coinConfirm"    column="coin_confirm"    />
        <result property="ctime"    column="ctime"    />
        <result property="mtime"    column="mtime"    />
        <result property="minCollectAmount"    column="min_collect_amount"    />
        <result property="type"    column="type"    />
        <result property="chainType"    column="chain_type"    />
    </resultMap>

    <sql id="selectCoinVo">
        select id, address, coin_name, coin_decimals, coin_confirm, ctime, mtime, min_collect_amount, type, chain_type from coin
    </sql>

    <select id="selectCoinList" parameterType="Coin" resultMap="CoinResult">
        <include refid="selectCoinVo"/>
        <where>  
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="coinName != null  and coinName != ''"> and coin_name like concat('%', #{coinName}, '%')</if>
            <if test="coinDecimals != null "> and coin_decimals = #{coinDecimals}</if>
            <if test="coinConfirm != null "> and coin_confirm = #{coinConfirm}</if>
            <if test="ctime != null "> and ctime = #{ctime}</if>
            <if test="mtime != null "> and mtime = #{mtime}</if>
            <if test="minCollectAmount != null "> and min_collect_amount = #{minCollectAmount}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="chainType != null  and chainType != ''"> and chain_type = #{chainType}</if>
        </where>
    </select>
    
    <select id="selectCoinById" parameterType="Long" resultMap="CoinResult">
        <include refid="selectCoinVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoin" parameterType="Coin" useGeneratedKeys="true" keyProperty="id">
        insert into coin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null and address != ''">address,</if>
            <if test="coinName != null and coinName != ''">coin_name,</if>
            <if test="coinDecimals != null">coin_decimals,</if>
            <if test="coinConfirm != null">coin_confirm,</if>
            <if test="ctime != null">ctime,</if>
            <if test="mtime != null">mtime,</if>
            <if test="minCollectAmount != null">min_collect_amount,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="chainType != null and chainType != ''">chain_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null and address != ''">#{address},</if>
            <if test="coinName != null and coinName != ''">#{coinName},</if>
            <if test="coinDecimals != null">#{coinDecimals},</if>
            <if test="coinConfirm != null">#{coinConfirm},</if>
            <if test="ctime != null">#{ctime},</if>
            <if test="mtime != null">#{mtime},</if>
            <if test="minCollectAmount != null">#{minCollectAmount},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="chainType != null and chainType != ''">#{chainType},</if>
         </trim>
    </insert>

    <update id="updateCoin" parameterType="Coin">
        update coin
        <trim prefix="SET" suffixOverrides=",">
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="coinName != null and coinName != ''">coin_name = #{coinName},</if>
            <if test="coinDecimals != null">coin_decimals = #{coinDecimals},</if>
            <if test="coinConfirm != null">coin_confirm = #{coinConfirm},</if>
            <if test="ctime != null">ctime = #{ctime},</if>
            <if test="mtime != null">mtime = #{mtime},</if>
            <if test="minCollectAmount != null">min_collect_amount = #{minCollectAmount},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="chainType != null and chainType != ''">chain_type = #{chainType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoinById" parameterType="Long">
        delete from coin where id = #{id}
    </delete>

    <delete id="deleteCoinByIds" parameterType="String">
        delete from coin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>